@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Section -->
<div class="px-4 py-5 my-5 text-center hero-section">
    <img class="d-block mx-auto mb-4" src="../images/logo1.png" alt="" width="400" style="padding-left:25px;">
    <h1 class="display-5 fw-bold">Your Go-To Destination for Movies, Anytime, Anywhere</h1>
    <h3 class="lh-1 mb-3">Stream, Buy, or Rent</h3>
    <h4 class="lh-1 mb-3">The Choice is Yours with NickFlix+</h4>
</div>

<!-- Section 1 -->
<div class="container col-xxl-12 px-4 py-5">
    <div class="row flex-sm-row-reverse align-items-center g-5 py-5">
        <div class="col-12 col-sm-12 col-lg-6">
            <img src="../images/homepage/image_4.png" class="d-block mx-auto img-fluid rounded-3" alt="placeholder"
                loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Limitless Entertainment at Your Fingertips</h1>
            <h3 class="lh-1 mb-3">Discover an expansive library of movies</h3>
            <p class="lead">With NickFlix+, you can stream blockbuster hits, timeless classics, and hidden gems in high
                definition. Whether you're a fan of action-packed thrillers, heartwarming dramas, or anything in
                between, we've got you covered.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Create Account</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Log in</button>
            </div>
        </div>
    </div>
</div>

<!-- Section 2 -->
<div class="container col-xxl-12 px-4 py-5">
    <div class="row flex-sm-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Unmatched Flexibility and Convenience</h1>
            <h3 class="lh-1 mb-3">Choose the way you want to watch</h3>
            <p class="lead">NickFlix+ is designed to provide the ultimate in movie-watching flexibility. You can choose
                to rent titles for a limited time, buy them to own forever, or simply stream them as part of your
                monthly subscription. Your perfect movie night starts here.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Browse Movies</button>
                <a type="button" class="btn btn-outline-secondary btn-lg px-4" asp-area="" asp-controller="Movies"
                    asp-action="">Manage Content</a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-6">
            <img src="../images/homepage/image_5.png" class="d-block mx-auto img-fluid rounded-3" alt="placeholder"
                loading="lazy">
        </div>
    </div>
</div>
