@{
    ViewData["Title"] = "About";
}

<div class="container mt-5">
        <h1 class="text-center mb-4">About <img src="../images/logo4.png" width="150" alt="new logo" /></h1>

    <section id="history" class="mb-4">
        <h2 class="mb-3">History</h2>
        <p>Founded in 2023, NickPix+ began as a the simple idea of bringing the best of cinema to audiences worldwide. Since then, we've grown exponentially, partnering with film studios and independent filmmakers from around the world. Today, NickPix+ is a household name, recognized for its diverse movie collection and seamless streaming experience.</p>
    </section>

    <section id="mission" class="mb-4">
        <h2 class="mb-3">Mission</h2>
        <p>Our mission at NickPix+ is to make movies accessible to everyone, everywhere. We strive to curate a vast library of films, spanning different genres, cultures, and languages. Ensuring a user-friendly platform and high-quality streams and purchases, we aim to bring the magic of the movies right to your screens.</p>
    </section>

    <section id="vision" class="mb-4">
        <h2 class="mb-3">Vision</h2>
        <p> NickPix+ envisions a world where everyone, regardless of location or background, can enjoy the art of cinema. As we move forward, we're committed to expanding our reach, embracing new technologies, and supporting filmmakers around the globe. Together, we'll continue to write the next chapters of the NickPix+ story.</p>
    </section>



</div>

