@{
    ViewData["Title"] = "Events";
}

<div class="container mt-5">
    <h1 class="text-center mb-4"><img src="../images/logo4.png" width="150" alt="new logo" /> Events</h1>

    <section id="events" class="mb-4">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 pb-3">
                @* Event 1 *@
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-title">NickPix+ Indie Showcase</h5>
                        <h6 class="card-subtitle mb-2">March 5th, 2024, 10:00 AM - 8:00 PM</h6>
                        <p class="card-text">
                            Celebrate the art of independent cinema at the NickPix+ Indie Showcase,
                            featuring a curated selection of indie films and documentaries. Engage with filmmakers in Q&A sessions
                            and enjoy exclusive screenings.
                        </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item dark-list-group-item"><strong>Age Group:</strong> All ages</li>
                            <li class="list-group-item dark-list-group-item"><strong>Location:</strong> The Arthouse Cinema, 1234 Film Lane, Movieville, CA 90210</li>
                            <li class="list-group-item dark-list-group-item">Register for this event by clicking <a asp-area="" asp-controller="Home" asp-action="">Here</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 pb-3">
                @* Event 2 *@
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-title">Award Show: "NickPix+ Originals Gala"</h5>
                        <h6 class="card-subtitle mb-2">September 12th, 2024, 7:00 PM - 11:00 PM</h6>
                        <p class="card-text">
                            An elegant evening honoring the creators and stars of NickPix+'s original content. Join us for a night of celebration with award presentations and exclusive previews of upcoming shows.
                        </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item dark-list-group-item"><strong>Age Group:</strong> 18+</li>
                            <li class="list-group-item dark-list-group-item"><strong>Location:</strong> The Grand Ballroom, 5678 Prestige Ave, Starlight City, NY 10001</li>
                            <li class="list-group-item dark-list-group-item">Register for this event by clicking <a asp-area="" asp-controller="Home" asp-action="">Here</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 pb-3">
                @* Event 3 *@
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-title">Fan Convention: "NickPix+ Con"</h5>
                        <h6 class="card-subtitle mb-2">August 20th - 22nd, 2024, 10:00 AM - 6:00 PM daily</h6>
                        <p class="card-text">
                            Dive into the world of your favorite NickPix+ series and movies! Enjoy panels, meet-and-greets, cosplay contests, and more at NickPix+ Con. Perfect for fans of all genres.
                        </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item dark-list-group-item"><strong>Age Group:</strong> All ages</li>
                            <li class="list-group-item dark-list-group-item"><strong>Location:</strong> Online via Zoom. Access link provided upon registration.</li>
                            <li class="list-group-item dark-list-group-item"><span>Register for this event by clicking <a asp-area="" asp-controller="Home" asp-action="">Here</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 pb-3">
                @* Event 4 *@
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-title">Music Festival: "StreamFest Live"</h5>
                        <h6 class="card-subtitle mb-2">June 17th - 18th, 2024, 1:00 PM - 11:00 PM</h6>
                        <p class="card-text">
                            Experience a blend of music and entertainment at StreamFest Live, featuring performances by top artists and special screenings of music documentaries. Join us for a weekend of rhythm and fun!
                        </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item dark-list-group-item"><strong>Age Group:</strong> All ages</li>
                            <li class="list-group-item dark-list-group-item"><strong>Location:</strong>  In-person at Sunshine Park, 9012 Concert Blvd, Harmony Town, TX 75000</li>
                            <li class="list-group-item dark-list-group-item">Register for this event by clicking <a asp-area="" asp-controller="Home" asp-action="">Here</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>

